.conteiner{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
    img{
        width: 100px;
        height: 50px;
        justify-content: baseline;
    }
}

.title{
    display: flex;
    justify-content: center;
    width: 80%;

    h1{
        color: white;
        font-size: 25px;
    }
}

.backButton{
    display: flex;
    justify-content: end;
    width: 11%;
    button{
        background-color: #12161E;
        color: white;
        border: none;
        font-size: 26px;
        cursor: pointer;
        padding: 5px 5px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button:hover{
        background-color: white;
        border-radius: 5px;
        color: #12161E;
        transition: 0.2s;
    }

}